.Current .city {
  font-size: 50px;
  text-transform: uppercase;
}
.Current .temp {
  font-size: 110px;
}
.Current .conditions {
  text-align: left;
  padding: 0;
}
.Current .description {
  text-transform: capitalize;
}
.Current .time {
  margin: 5px 0 0 0;
}
.Current .current-data {
  border: 1px solid #33086775;
  border-radius: 15px;
  background-color: #33086715;
}
.Current .list-group-item {
  background-color: #33086715;
}
.Current img {
  display: inline;
}
@media screen and (max-width: 640px) {
  .Current .temp {
    font-size: 90px;
  }
}
